{% extends "base.html" %}
{% block content %}

<h2 class="booking_heading">Bookings</h2>



<section class="booking">
    {% for booking in bookings %}
    <div class="one_booking">
        <div class="booking_image_and_id">
            <img class="booking logo" src="" alt="booking_logo">
            <p>I.D:{{booking.id}}</p>
            <!-- might not work with id attached -->
        </div>
        <p>{{ booking.member.name }} has booked session: {{ booking.session.name }} </p>
        <p> Notes: {{booking.notes}} </p>
        <a class="booking_edit" href="/bookings/{{ booking.id }}/edit">Edit</a>
        <form action="/bookings/{{ booking.id }}/delete" method="POST">
            <input class="booking_delete_button" type="submit" value="Delete">
        </form>
    </div>

    {% endfor %}
</section>

{% endblock %}