{% extends "base.html" %}
{% block content %}

<h2 class="new_booking_header">Add a New Booking</h2>

<form class="new_booking_form" action="/bookings" method="POST">
<div class="new_booking">
    <div>
        <label for="member">Member:</label>
        <select name="member_id" id="member">
            {% for member in members %}
            <option value="{{ member.id }}">
                {{ member.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="session">Session:</label>
        <select name="session_id" id="session">
            {% for session in sessions %}
            <option value="{{ session.id }}">
                {{ session.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="notes">Notes:</label>
        <input type="text" id="notes" name="notes">
    </div>
    <div>
        <input type="submit">
    </div>
</div>
</form>

{% endblock %}