{% extends "base.html" %}
{% block content %}

<h1 class="welcome">Welcome to SWOLO</h1>
<div class = "about">

    <p>We are a gym based in Scotland where we provide support to everyone and anyone.</p>
    <p>Our gym was founded by Eric. A brave individual who didnt want to be ridiculed for enjoying a certain class.</p>
    <p>So he founded:</p>
    <p class="important-word">SWOLO</p>
    <p>Some. Winners. Only. Lose. Once.</p>
    <p>We've now been in business for over 1337 years! So we must be doing something right!</p>

</div>

{% endblock %}